body, html {
    height: 100%;
    font-family: Montserrat, sans-serif;
}
a {
    color: #FC3844;
}
a:hover {
    text-decoration: none;
    color: #FDBF03;
}
div.box {
    margin: 10%;
    background: rgba(39,25,25, .7);
    border: 1px solid rgba(39,25,25, .7);
}
h1.localLegends {
    margin: 5%;
    color: #FDBF03;
}
input.search-query {
    background: rgba(39,25,25, .7);
}
.vertical {
    margin-top: 50%;
}
.landingPage {
    position: relative;
    width: 100%;
    height: 100%;
    background: url('../images/audience-band-bright-1047442.jpg') center center no-repeat;
    background-size: cover;
}
.landingPage:before {
     content: '';
     position: absolute;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     background-image: linear-gradient(top ,white, black);
     opacity: .6;
 }
.loginPage {
    position: relative;
    width: 100%;
    height: 100%;
    background: url('../images/bar-blur-business-1860668.jpg') center center no-repeat;
    background-size: cover;
    color: white;
}
.adsPage {
    position: relative;
    width: 100%;
    height: 100%;
    background: url('../images/bar-blur-business-1860668.jpg') center center no-repeat;
    background-size: cover;
    color: #FDBF03;
}

.profilePage {
    position: relative;
    width: 100%;
    height: 100%;
    background: url('../images/bar-blur-business-1860668.jpg') center center no-repeat;
    background-size: cover;
    color: #FDBF03;
}
.adPage {
    position: relative;
    width: 100%;
    height: 100%;
    background: url('../images/audience-band-bright-1047442.jpg') center center no-repeat;
    background-size: cover;
    color: #FDBF03;
}
.registerPage {
    position: relative;
    width: 100%;
    height: 100%;
    background: url('../images/bar-blur-business-1860668.jpg') center center no-repeat;
    background-size: cover;
    color: white;
}
.createPage {
    position: relative;
    width: 100%;
    height: 100%;
    background: url('../images/audience-band-bright-1047442.jpg') center center no-repeat;
    background-size: cover;
    color: #FDBF03;
}
.inputBackground {
    background: rgba(39,25,25, .7);
}